<div class="card mb-1">
  <div class="card-header">
    <h2 class="mb-0">
      <button class="btn btn-link btn-block text-left <% if season_iteration.index != 0 %>collapsed<% end %>" type="button" data-toggle="collapse" data-target="#<%= dom_id(season) %>">
        Season <%= season.number %>
      </button>
    </h2>
  </div>

  <div id="<%= dom_id(season) %>" class="collapse <% if season_iteration.index == 0 %>show<% end %>" data-parent="#season-list">
    <div class="card-body">
      <%= render Episodes::WithStatesQuery.new(season.episodes.aired.sorted_by_number).for_user(current_user) %>
      <% if season.episodes.aired.any? && season.episodes.upcoming.any? %>
        <hr class="mt-0" />
      <% end %>
      <%= render Episodes::WithStatesQuery.new(season.episodes.upcoming.sorted_by_number).for_user(current_user) %>

      <p>
        <%= form_with model: season, url: season_state_path(season), method: :put, data: {turbo: false} do |form| %>
          <% if Episodes::UnseenQuery.new(season).for_user(current_user).any? %>
            <%= form.button "Mark all as seen", name: "seen", value: "true", class: "btn btn-sm btn-dark" %>
          <% else %>
            <%= form.button "Mark all as unseen", name: "seen", value: "false", class: "btn btn-sm btn-dark" %>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
</div>
