<div class="card mb-1">
  <div class="card-header">
    <h2 class="mb-0">
      <button class="btn btn-link btn-block text-left <% if season_iteration.index != 0 %>collapsed<% end %>" type="button" data-toggle="collapse" data-target="#<%= dom_id(season) %>">
        Season <%= season.number %>
      </button>
    </h2>
  </div>

  <div id="<%= dom_id(season) %>" class="collapse <% if season_iteration.index == 0 %>show<% end %>" data-parent="#season-list">
    <div class="card-body">
      <%= render season.episodes.aired.sorted_by_number %>
      <% if season.episodes.aired.any? && season.episodes.upcoming.any? %>
        <hr class="mb-4" />
      <% end %>
      <%= render season.episodes.upcoming.sorted_by_number %>

      <p>
        <% if Episodes::UnseenQuery.new(season).for_user(current_user).any? %>
          <%= link_to 'Mark all as seen', season_state_path(season, seen: true), method: :put %>
        <% else %>
          <%= link_to 'Mark all as unseen', season_state_path(season, seen: false), method: :put %>
        <% end %>
      </p>
    </div>
  </div>
</div>
