<%
  state = current_user.episode_states.find_by(episode: episode)
  seen  = state&.seen_at&.present?
%>

<div class="row">
  <div class="col">
    <div class="custom-control custom-switch">
      <%= form_with(url: episode_state_path(episode), method: :put) do |f| %>
        <%= content_tag :input, nil, type: "checkbox", class: "custom-control-input", data: { behaviour: "episode-seen-toggle" }, id: dom_id(episode, :seen), name: "seen", value: "1", checked: seen %>
        <%= content_tag :label, "Seen", class: "custom-control-label", for: dom_id(episode, :seen) %>
      <% end %>
    </div>
  </div>
  <div class="col"><pre><%= episode.display_number %></pre></div>
  <div class="col col-lg-9"><%= episode.title %></div>
</div>
