<div class="row">
  <div class="col">
    <div class="custom-control custom-switch">
      <%= check_box_tag :seen, nil, episode.seen_at.present?, class: "custom-control-input", id: dom_id(episode, :seen), data: { remote: true, method: :put, url: episode_state_path(episode) } %>
      <%= seen_at_label episode %>
    </div>
  </div>
  <div class="col"><pre><%= episode.display_number %></pre></div>
  <div class="col col-lg-7 d-none d-sm-block"><%= episode.title %></div>
  <div class="col d-none d-sm-block">
    <small>Air:</small> <%= episode.first_aired %>
  </div>
</div>
