<div class="d-flex align-items-center justify-content-between">
  <div>
    <h2>Unseen</h2>
    <p>
      You have <%= pluralize(@unseen_shows.size, 'show') %> with unseen episodes.
    </p>
  </div>
</div>

<hr />

<% if @unseen_shows.any? %>
  <%= render @unseen_shows, watched_state: true %>
  <%= paginate @unseen_shows, param_name: :unseen_page %>
<% else %>
  <div class="text-center bg-light my-5 py-5">
    <h2>Howdy</h2>
    <p>You don't have any shows to watch.</p>
    <%= link_to 'Add Show', shows_path, class: "btn btn-sm btn-outline-primary" %>
  </div>
<% end %>

<% if @upcoming_shows.any? %>
  <div class="mt-5 d-flex align-items-center justify-content-between">
    <div>
      <h2>Upcoming</h2>
      <p>
        The following shows have upcoming episodes in future:
      </p>
    </div>
  </div>

  <hr />

  <%= render @upcoming_shows %>
  <%= paginate @upcoming_shows, param_name: :upcoming_page %>
<% end %>
