<h2>Activities</h2>

<p>The following list shows your activities over time:</p>

<% @history_entries.each do |date, entries| %>
  <h4><%= date %></h4>
  <p>
    <ul>
      <% entries.each do |entry| %>
        <li>
          <% case entry %>
          <% when Subscription %>
            Subscribed to <%= link_to entry.show.title, entry.show %>
          <% when EpisodeState %>
            Marked <%= link_to entry.episode.show.title, entry.episode.show %> - <%= entry.episode.display_number %> - &raquo;<%= entry.episode.title %>&laquo; as <% if entry.seen_at %>seen<% else %>unseen<% end %>.
          <% else %>
            Something
          <% end %>
        </li>
      <% end %>
    </ul>
  </p>
<% end %>
