<%
  list_view       = defined?(show_iteration)
  watched_state   = defined?(watched_state) && watched_state
  unseen_episodes = Episodes::UnseenQuery.new(show).for_user(current_user)
  seen_episodes   = current_user.episode_states.where(episode: show.episodes).where.not(seen_at: nil)
  seen_percent    = show.episodes.size.positive? ? (seen_episodes.size.to_f / show.episodes.size.to_f * 100.0).floor : 0
%>
<%= content_tag :div, class: ["row", list_view ? "align-items-center" : nil] do %>
  <div class="col-12 col-lg-3 text-center">
    <%= link_to show do %>
      <%= image_tag show_image_url(show, thumb: list_view), width: list_view ? 150 : 250, class: "img-fluid", alt: "Poster", loading: :lazy %>
    <% end %>
  </div>
  <div class="col-12 col-lg-9 mt-4 mt-sm-0">
    <div>
      <h3 class="d-inline-block"><%= link_to show.title, show %></h3>
      <% unless show.rating.zero? %>
        <span class="badge badge-pill badge-info align-text-top mt-n1"><%= show.rating %></span>
      <% end %>
      <% if show.network.present? %>
        <p>Network: <%= show.network %></p>
      <% end %>
    </div>

    <% if list_view %>
      <p class="mr-lg-5 pr-lg-5"><%= truncate show.overview, length: 300 %></p>
    <% else %>
      <p class="mr-lg-5 pr-lg-5"><%= show.overview %></p>
      <p>
        More on
        <%= link_to "TheTVDB", "https://thetvdb.com/series/#{show.slug}" %>
        <% if show.imdb_ref.present? %>
          or <%= link_to "IMDb", "https://www.imdb.com/title/#{show.imdb_ref}" %>.
        <% end %>
      </p>
    <% end %>

    <% if watched_state %>
      <div class="progress mb-3" style="height: 20px">
        <div class="progress-bar progress-bar-striped bg-dark" style="width: <%= seen_percent %>%;"></div>
      </div>
    <% end %>

    <p>
      This show has <%= pluralize(show.seasons.size, 'season') %> and <%= pluralize(show.episodes.size, 'episode') %>.
    </p>

    <% if defined?(manage_subscription) && manage_subscription %>
      <% if current_user.subscriptions.where(show: show).none? %>
        <%= link_to "Subscribe", show_subscription_path(show), method: :post, class: "btn btn-primary" %>
      <% else %>
        <%= link_to "Unubscribe", show_subscription_path(show), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
      <% end %>
    <% end %>

    <% if defined?(manage_seen_state) && manage_seen_state %>
      <% if unseen_episodes.any? %>
        <%= link_to "Mark as seen", show_state_path(show, seen: true), method: :put, class: "btn btn-link" %>
      <% else %>
        <%= link_to "Mark as unseen", show_state_path(show, seen: false), method: :put, class: "btn btn-link" %>
      <% end %>
    <% end %>
  </div>
<% end %>

<hr />
