<p>Results:</p>

<table class="table table-striped">
  <% @results.each do |result| %>
    <% next if result.banner.blank? %>
    <tr>
      <td>
        <h3><%= result.name %></h3>
        <p><%= result.network.presence || '-' %></p>
        <p><%= image_tag banner_url("/banners/#{result.banner}"), loading: :lazy %></p>
        <p><%= truncate result.overview, length: 300 %></p>
        <p><%= link_to 'Add this Show', shows_path(ref: result.id), method: :post, class: "btn btn-primary" %></p>
      </td>
    </tr>
  <% end %>
</table>
