<h2>Search</h2>

<% if @results.any? %>
<table class="table table-striped">
  <% @results.each do |result| %>
    <tr>
      <td class="row">
        <div class="col-12 col-lg-3 text-center">
          <%- poster = result.posters.first %>
          <%= image_tag cover_url("/banners/#{poster.fileName}"), width: 150, class: "img-fluid", alt: "Poster", loading: :lazy unless poster.nil? %>
        </div>
        <div class="col-12 col-lg-9 mt-4 mt-sm-0">
          <h3><%= result.name %></h3>
          <p><%= result.network.presence || '-' %></p>
          <p><%= truncate result.overview, length: 300 %></p>
          <p><%= link_to 'Add this Show', shows_path(ref: result.id), data: {turbo_method: :post}, class: "btn btn-primary" %></p>
        </div>
      </td>
    </tr>
  <% end %>
</table>
<% else %>
  <p>No results</p>
<% end %>
