<!DOCTYPE html>
<html>
  <head>
    <title><%= @page[:title] %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <%= link_to 'Whatchy',  root_path, class: "navbar-brand" %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <% if user_signed_in? %>
              <%= navigation_item "Home", root_path %>
              <%= navigation_item "Upcoming", upcoming_subscriptions_path %>
              <%= navigation_item "Explore", shows_path %>
              <%= navigation_item "Subscriptions", subscriptions_path %>
              <%= navigation_item "Activities", activities_path %>
            <% end %>
          </ul>

          <% if user_signed_in? %>
            <%= link_to profile_path, class: "text-light" do %>
              <%= image_tag "https://www.gravatar.com/avatar/#{current_user.gravatar_hash}?d=mp", class: "rounded-circle mr-2", size: "36x36" %>
            <% end %>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-sm btn-danger ml-3' %>
          <% end %>
        </div>
      </div>
    </nav>

    <%= render "flash" %>

    <div class="container my-4">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>

    <div class="container my-4 small text-mute text-center">
      Whatchy is a side project by <a target="_blank" href="https://www.klaus-meyer.net">Klaus Meyer</a>.
      <br>
      TV information and images are provided by <a target="_blank" href="https://www.thetvdb.com/">TheTVDB.com</a>, but we are not endorsed or certified by <a target="_blank" href="https://www.thetvdb.com/">TheTVDB.com</a> or its affiliates.
      <br>
      <% if last_updated_episode = Episode.order(updated_at: :desc).first %>
        Last update: <%= l last_updated_episode.updated_at, format: :long %>
      <% end %>
      &middot;
      Code available on <a href="https://github.com/klausmeyer/whatchy">GitHub</a> :)
    </div>
  </body>
</html>
