<!DOCTYPE html>
<html>
  <head>
    <title>Whatchy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <%= link_to 'Whatchy',  root_path, class: "navbar-brand" %>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="mr-auto"></div>

          <% if user_signed_in? %>
            <%= link_to profile_path, class: "text-light" do %>
              <%= image_tag "https://www.gravatar.com/avatar/#{current_user.gravatar_hash}?d=mp", class: "rounded-circle mr-2", size: "36x36" %><%= current_user.email %>
            <% end %>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-sm btn-danger ml-3' %>
          <% end %>
        </div>
      </div>
    </nav>

    <%= render "flash" %>

    <div class="container my-4">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </body>
</html>
